@font-face {
    font-family: 'Permanent Marker';
    src: url('../font/PermanentMarker-Regular.woff2') format('woff2'),
        url('../font/PermanentMarker-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

